body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.flex-content {
    flex-grow: 1;
}

.rule-heading {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.rule-heading:before {
    content: "";
    display: block;
    border-top: solid 2px black;
    position: inherit;
    top: 50%;
    width: 100%;
    height: 2px;
    z-index: 0;
}

.rule-heading span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.inv-btn {
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 16px;
}

a:active, a:visited, a:hover {
    color: white;
}

.inv-btn-primary {
    background-color: #1F5673;
}

.inv-btn-secondary {
    background-color: #102b3a;
}