@page "/login"

<div class="centered-div-vertical">
    <div class="login-container centered-div bg-body-secondary rounded-3">
        <div style="display: flex;flex-direction: column;width: 90%;">
            <div style="display: flex; flex-direction: row;justify-content:start; align-items: center; gap: 8px;margin-bottom: 8px;">
                <img src="images/app_ic.svg" width="40" height="40" />
                <label style="font-size: 21px; font-weight: bold;">Login</label>
            </div>
            <div>
                <label for="username-input" class="form-label">Username</label>
                <input type="text" id="username-input" class="form-control" aria-describedby="username-help">
                <div id="username-help" class="form-text"></div>
            </div>
            <div>
                <label for="password-input" class="form-label">Password</label>
                <input type="password" id="password-input" class="form-control" aria-describedby="password-help">
                <div id="password-help" class="form-text"></div>
            </div>
            <div style="display: flex;flex-direction: row;align-items: end;justify-content: end;gap: 8px;margin-top: 8px;">
                <button type="button" class="btn btn-secondary">Register</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: center;gap: 8px;">
        <ThemeToggler></ThemeToggler>
    </div>
</div>

@code {

}
