@inject IJSRuntime jsRuntime

<button type="button" class="btn btn-secondary" @onclick="ToggleTheme">
    <img src="@source" width="40px" height="40px" />
</button>

@code {
    private string source = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ApplyTheme();
    }

    private void ApplyTheme()
    {
        if (KeyUtil.CurrentTheme == "light")
        {
            source = "images/darkMode.svg";
            jsRuntime.InvokeVoidAsync("lightMode");
        }
        else if (KeyUtil.CurrentTheme == "dark")
        {
            source = "images/lightMode.svg";
            jsRuntime.InvokeVoidAsync("darkMode");
        }
    }

    private void ToggleTheme() {
        if (KeyUtil.CurrentTheme == "light")
        {
            KeyUtil.CurrentTheme = "dark";
        }
        else
        {   
            KeyUtil.CurrentTheme = "light";
        }
        ApplyTheme();
    }
}
