@inject InventoryViewModel InventoryVM

<h3>InventoryPage</h3>

<button class="btn btn-primary" @onclick="TriggerAlert">Display System Alert</button>

<style>
    h3 {
        color: blue;
    }
</style>

@code {
    public async void TriggerAlert()
    {
        await Application.Current.MainPage.DisplayAlert("Title","Message","Ok");
        InventoryVM.PrintSomething();
    }
}
